[general]
app_secret: somerandomstring

[wunderlist]
client_id: yourclientid
client_secret: yourclientsecret
app_url: http://yadda
app_callback_url: http://yadda/callback
redirect_url: http://yadda/redirect
state: somerandomstring
auth_url: https://www.wunderlist.com/oauth/authorize
auth_access_url: https://www.wunderlist.com/oauth/access_token
